.sidebar {
    height: 100%;
    width: 15%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.15);
}

.sidebar .nav-content {
    max-width: 900px;
    padding: 3rem 2rem;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.nav-items {
    padding-inline-start: 0px;
    border-top: 1px solid #141414;
}

.nav-item {
    list-style: none;
    margin: 2rem;
    width: fit-content;
    justify-content: left;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.nav-item:hover {
    box-shadow: 0px 3px 1px -2px #f8f8ff;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.nav-item > .active{
    box-shadow: 0px 3px 1px -2px #f8f8ff;
}

.name {
    font-size: x-large;
    text-align: center;
    margin: 1.5rem;
}

.profile {
    
}

.nav-item a {
    color: inherit; 
    text-decoration: inherit; /* no underline */
    display: inline-block;
    padding: 6px 10px;
}

@media (max-width: 768px) {
    .nav-content {
        display: none;
    }
}