.sidenav {
    height: 100%;
    width: 350px;
    z-index: 1;
    position: fixed;
    top: 40;
    left: 0;
    transition: 300ms;
    padding-top: 20px;
    box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.15);
    background: #495867;
}

.sidenav .expanded {

}

.sidenav .hidden {
    left: -100%;    
    transition: 300ms;
}

.sidenav .nav-content {
    max-width: 900px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    text-align: center;
    height: 100%;
}

.nav-items {
    padding-inline-start: 0px;
    border-top: 1px solid #141414;
    width: 100%;
    padding-left: 0.5rem;
}

.nav-item {
    list-style: none;
    margin: 1.5rem;
    width: fit-content;
    justify-content: left;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.nav-item:hover {
    box-shadow: 0px 3px 1px -2px #f8f8ff;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.nav-item > .active{
    box-shadow: 0px 3px 1px -2px #f8f8ff;
}

.name {
    font-size: x-large;
    text-align: center;
    margin: 1.5rem;
}

.profile {
    width: 360px;
    text-align: center;
    background: 
}

.nav-item a {
    color: inherit; 
    text-decoration: inherit; /* no underline */
    display: inline-block;
    padding: 6px 10px;
}

.nav-toggle {
    height: 40px;
    width: 40px;
}


@media (max-width: 768px) {
    .sidenav {
        display: none;
    }
    .nav-content {
        display: none;
    }
}